<div>
    Winner: @board.GetGameResult(out winCells)
</div>
<div class="tictac-board">
    @for(int column =0; column < board.ColumCount; column++)
    {
        <div class="tictac-column">
            @for(int row=0; row < board.RowCount; row++)
            {
                 
                 CellState cell = board.Cells[row,column];
                var savedrow = row;
                var savedcolumn = column;
                bool isWinCell = winCells.Contains(new CellPosition(row, column));
                
                <div class="tictac-cell 
                                tictac-cell-@cell.ToString()" @onclick="() => CellClick(savedrow, savedcolumn)">
                <div style="font-size:40px; color:red; text-align:center;">
                    @(isWinCell ? "✔" : "")
                </div>

                </div>
            }
        </div>
    }
</div>
@code {
    Board board = new Board();
    CellPosition[] winCells = new CellPosition[0];
    public void CellClick(int row, int column)
    {
        board.CellClickRevers(row, column);
    }
}
