<div class="tictac-board">
    @for(int row=0; row < board.RowCount; row++)
    {
        <div class="tictac-column">
            @for(int column =0; column < board.ColumCount; column++)
            {
                 
                 CellState cell = board.Cells[row,column];
                var savedrow = row;
                var savedcolumn = column;
                <div class="tictac-cell 
                                tictac-cell-@cell.ToString()" @onclick="() => board.CellClick(savedrow, savedcolumn)"/>
            }
        </div>
    }
</div>
@code {
    Board board = new Board();
    
}
