

<div class="tictac-board">
    <div class="tictac-column" >
        <div class="tictac-cell 
                                tictac-cell-@board.Celll_0_0.ToString()" />
         <div class="tictac-cell 
                                tictac-cell-@board.Cell_0_1.ToString()" />
          <div class="tictac-cell 
                                tictac-cell-@board.Cell_0_2.ToString()" />     
    </div>
    <div class="tictac-column" >
        <div class="tictac-cell 
                                tictac-cell-@board.Cell_1_0.ToString()" />
            <div class="tictac-cell 
                                tictac-cell-@board.Cell_1_1.ToString()" />
             <div class="tictac-cell 
                                tictac-cell-@board.Cell_1_2.ToString()" />
    </div>
    <div class="tictac-column" >
         <div class="tictac-cell 
                                tictac-cell-@board.Cell_2_0.ToString()" />
               <div class="tictac-cell 
                                tictac-cell-@board.Cell_2_1.ToString()" />
                <div class="tictac-cell 
                                tictac-cell-@board.Cell_2_2.ToString()" />
    </div>
</div>
@code {
    Board board = new Board();

}
